<div style="border: 2px solid green; border-radius: 5px; padding: 1em;">
  <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">


    <table class="simple-table">
      <!--<tr>-->
      <!--<th>Critéres</th>-->
      <!--<th>Facebook-->
      <!--<button style="color: white; background: rgba(255, 0, 0, .5)">x</button>-->
      <!--</th>-->
      <!--<th>Google-->
      <!--<button style="color: white; background: rgba(255, 0, 0, .5)">x</button>-->
      <!--</th>-->
      <!--</tr>-->
      <div formArrayName="criteria">

      <tbody>
      <div formArrayName="companies">
        <div *ngFor="let company of myForm.controls.companies.controls; let i=index">
          <tr>
            <div [formGroupName]="i">
              <td>
                <input type="text" class="form-control" formControlName="nameCompany">
              </td>
              <td>
                <input type="text" class="form-control" formControlName="realValue">
              </td>
              <td>
                <input type="text" class="form-control" formControlName="ponderateValue">
              </td>
            </div>
          </tr>
        </div>
      </div>
      </tbody>
    </table>


    <div class="margin-20">
      <a (click)="addCriteria()" style="cursor: default">
        Add another criteria +
      </a>
    </div>

  </form>
</div>
